# Introduce to Pandas


## Inglês:

In pandas we can represent data sets in two ways: set in series that are data sets of the same variable and
dataframe sets which are data sets of different variables.
Below is an example starting with the definition of a dictionary and then transforming it into a data frame.

## Português:

No pandas podemos representar conjunto de dados de duas formas: conjusto em séries que são conjuntos de dados de uma mesma variável e
conjuntos dataframe que são conjuntos de dados de variáveis diferentes.

Abaixo, segue um exemplo iniciando pela definição de um dicionário e depois a transformação em data frame

In [5]:

import pandas as pd

dict_medidas = {'idade':[15,18,25,25,40,55,58,60,80], 'altura': [160,162,165,168,172,174,174,174,176]}

df_medidas = pd.DataFrame.from_dict(dict_medidas)

# Position Measurements

In [6]:
# mean
df_medidas["idade"].mean()

np.float64(41.77777777777778)

In [8]:
# median
df_medidas["idade"].median()

np.float64(40.0)

In [ ]:
# mode
df_medidas["idade"].mode()

In [3]:
df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176