# Introduce to Pandas


## Inglês:

In pandas we can represent data sets in two ways: set in series that are data sets of the same variable and
dataframe sets which are data sets of different variables.
Below is an example starting with the definition of a dictionary and then transforming it into a data frame.

## Português:

No pandas podemos representar conjunto de dados de duas formas: conjusto em séries que são conjuntos de dados de uma mesma variável e
conjuntos dataframe que são conjuntos de dados de variáveis diferentes.

Abaixo, segue um exemplo iniciando pela definição de um dicionário e depois a transformação em data frame

In [5]:

import pandas as pd

dict_medidas = {'idade':[15,18,25,25,40,55,58,60,80], 'altura': [160,162,165,168,172,174,174,174,176]}

df_medidas = pd.DataFrame.from_dict(dict_medidas)

# Position Measurements

In [6]:
# mean
df_medidas["idade"].mean()

np.float64(41.77777777777778)

In [8]:
# median
df_medidas["idade"].median()

np.float64(40.0)

In [9]:
# mode
df_medidas["idade"].mode()

0    25
Name: idade, dtype: int64

In [3]:
df_medidas

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176

# Dispersion Measures

In [11]:
# Variance
# The Variance is a measure of the spread of the values.
# And it is the average of the squared differences from the Mean.
# It is a measure of how spread out the values are.
# The formula for Variance is:
# Variance = Σ(xi - μ)^2 / (n - 1)
# where xi is each value, μ is the Mean, and n is the number of values.
# The Variance is always non-negative.
# If the Variance is zero, then all the values are the same.
# If the Variance is large, then the values are spread out.


'''
Tendo em vista que uma varíavel de um conjunto pode ter caracteres especiais, recomendas utilizar [""], porém, se no idioma ou no programa não tiver
pode utilizar da forma abaixo dtframe.variavel.metodo
'''
df_medidas.idade.var()

np.float64(509.94444444444446)

In [12]:
# Standard Deviation
# The standard deviation is a measure of the amount of variation or dispersion of a set of values.
# A low standard deviation indicates that the values tend to be close to the mean (also called the
# expected value) of the set, while a high standard deviation indicates that the values are spread out
# over a wider range.

df_medidas.idade.std()

np.float64(22.58194952709895)

In [13]:
# Coefficient of Variation 
# The coefficient of variation is a measure of relative variability. It is defined as the ratio of the standard
# deviation to the mean, expressed as a percentage. It is a useful measure of variability when comparing
# different datasets that have different units or scales.

df_medidas.idade.std() / df_medidas.idade.mean() * 100

np.float64(54.05253876167302)

# Form Measures

In [15]:
# Asymmetry and Kurtosis - Idade

df_medidas.idade.skew()

np.float64(0.368108517895537)

In [16]:
# Kurtosis - Idade

df_medidas.idade.kurtosis()

np.float64(-1.1344461075421046)

In [17]:
# Asymmetry - Altura

df_medidas.altura.skew()

np.float64(-0.598486996170113)

In [18]:
# Kurtosis - Altura

df_medidas.altura.kurtosis()

np.float64(-1.3372641199913002)